<div class = "container">
  <div class = "row">
    <div class = "col-4">
      <!-- ユーザプロフィールの表示 -->
      <%= render 'user/users/profile', user: @user %>
      <!-- リンクリストの表示 -->
      <%= render 'user/users/link_list' %>
    </div>

    <div class = "col-8">
      <h1>ゲームタイトル一覧</h1>
      <div class = row>
  	    <% @game_titles.each do |game_title| %>
            <div class = "col-4">
              <li><%= link_to game_title.name, user_game_title_path(game_title) %></li>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>