<div class = "container">
  <h1>管理者 トップページ</h1>
  <div class = "row">
	  <div class = "col-5">
      <!-- リンクリストの表示 -->
      <%= render 'admin/homes/link_list' %>
    </div>
  </div>
</div>
