<div class = "container">
  <div class = "row">
    <!-- ユーザプロフィールの表示 -->
    <div class="col-4">
      <% if @user == current_user %>
        <h2>Your Profile</h2>
      <% else %>
        <h2>User Profile</h2>
      <% end %>
      <!-- ユーザプロフィールの表示 -->
	  <%= render 'user/users/profile', user: @user %>
	  <!-- リンクリストの表示 -->
	  <%= render 'user/users/link_list' %>
    </div>
    <!-- ----------------- -->

    <!-- Impressions 一覧の表示 -->
    <div class = "col-8">
      <h2>Impressions</h2>
      <table class = "table thead-light table-striped table-bordered text-nowrap">
      	<thread>
      	  <tr>
      	  	<th>タイトル</th>
      	  	<th>ゲームタイトル</th>
      	  	<th>いいね</th>
      	  	<th>コメント</th>
      	  </tr>
      	</thread>
      </table>
    </div>
    <!-- Impressions 一覧表示 ここまで -->
  </div>
</div>
