<div>
	<h1>Welcome to Game Impressions!!</h1>

	<h2>Game Impressions とは</h2>
	<p>～すばらしいゲーム体験を共有しようをテーマにした、ゲームの感想、評価の投稿サイトです。</p>
	<p>ゲームのプレイ日記として、ゲームの感想を投稿することができます。</p>
	<p>ゲームに対する評価を投稿することができます。</p>
	<p>ゲームの感想の投稿、ゲームに対する評価の投稿には、アカウントの登録、ログインが必要になります。</p>
	<p>ゲストユーザは、ゲームの感想、ゲームに対する評価の閲覧のみできます。</p>
</div>

<div>
	<%= link_to 'トップページに戻る', root_path %>
</div>