<div class = "container">
  <h1>Welcome to Game Impressions!!</h1>
  <div class = "row">
  	<h2>Game Impressions</h2>
  </div>

  <div class = "row">
    <ul>
      <li>～すばらしいゲーム体験を共有しよう～をテーマにした、ゲームの感想、評価の投稿サイトです。</li>
      <li>ゲームのプレイ日記として、ゲームの感想を投稿することができます。</li>
      <li>ゲームに対する評価を投稿することができます。</li>
      <li>ゲームの感想の投稿、ゲームに対する評価の投稿には、アカウントの登録、ログインが必要になります。</li>
      <li>ゲストユーザは、ゲームの感想、ゲームに対する評価の閲覧のみできます。</li>
    </ul>
  </div>
</div>

<div class = "botton">
  <div style = "text-align: center">
  	<%= link_to 'トップページに戻る', root_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>