<div class = "container">
  <div class = "row justify-content-center">
    <h1>Welcome to Game Impressions!!</h1>
    <h2>～すばらしいゲーム体験を共有しよう～</h2>
  </div>

  <div class = "row justify-content-center">
    <div class = "col-3">
      <!-- リンクリストの表示 -->
      <div class = "list-group" style = "max-width: 400px;">
        <%= link_to 'トップページ', root_path, class: "list-group-item list-group-item-action" %>
        <%= link_to 'ゲームタイトル一覧', root_path, class: "list-group-item list-group-item-action" %>
        <%= link_to 'ジャンル一覧', user_genres_path, class: "list-group-item list-group-item-action" %>
        <%= link_to '投稿一覧', user_impressions_path, class: "list-group-item list-group-item-action" %>
      </div>
    </div>

    <div class = "col-9">
      <h2>GameImpressionsとは</h2>
      <ul>
        <li>～すばらしいゲーム体験を共有しよう～をテーマにした、ゲームの感想、評価の投稿サイトです。</li>
        <li>ゲームのプレイ日記として、ゲームの感想を投稿することができます。</li>
        <li>ゲームに対する評価を投稿することができます。</li>
        <li>ゲームの感想の投稿、ゲームに対する評価の投稿には、アカウントの登録、ログインが必要になります。</li>
        <li>ゲストユーザは、ゲームの感想、ゲームに対する評価の閲覧のみできます。</li>
      </ul>
    </div>
  </div>
</div>
