<div class = "container">
  <div class = "row">
  	<div class = "col-4">
      <!-- リンクリストの表示 -->
      <%= render 'user/users/link_list' %>
    </div>

    <div class = "col-8">
      <h1>Welcome to <br>&emsp;Game Impressions!!</h1>
      <p>このサイトでは、ゲームの感想、評価の投稿ができます。</p>
    </div>
  </div>
</div>
