<div class = "top-image"></div>

<div class = "container">
  <div class = "row justify-content-center">
  	<div class = "col-4">
      <!-- リンクリストの表示 -->
      <%= render 'user/users/link_list' %>
    </div>
  </div>
</div>
