<%# トップページ %>
<div class = "container">
  <%# イメージ画像の表示 %>
  <div class = "top-image"></div>
  <div class = "row">
    <div ckass = "col-4">
      <%# リンクリストの表示 %>
      <%= render 'user/users/link_list' %>
    </div>
    <div class = "col-8">
      <h2>最近の投稿</h2>
      <table class = "table thead-light table-striped table-bordered text-nowrap">
        <thread>
  	      <tr>
  	  	    <th>Impression Title</th>
  	  	    <th>Game Title</th>
          </tr>
  	    </thread>
  	    <tbody>
          <% @impressions.each do |impression| %>
            <tr>
              <td><%= link_to impression.title, user_impression_path(impression) %></td>
              <td><%= impression.game_title.name %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
    <div style = "text-align: center">
      <%= link_to 'もっとみる', user_impressions_path, class: "btn btn-link" %>
    </div>
  </div>
</div>
