<%# 登録ユーザ一覧表示(管理者) %>
<div class = "container">
  <div class = "row">
    <div class = "col-4">
      <%# リンクリストの表示 %>
      <%= render 'admin/homes/link_list' %>
    </div>
  	<div class = "col-8">
      <h1>登録ユーザ一覧</h1>
      <div class = "row">
        <div class = "table-responsive">
  	  	  <table class = "table thead-light table-striped table-bordered text-nowrap">
  	  	    <thread>
  	  	  	  <tr>
  	  	  	    <th>ニックネーム</th>
                <th>Eメールアドレス</th>
  	  	  	    <th>状態</th>
  	  	      </tr>
  	  	    </thread>
  	  	    <tbody>
  	  	      <% @users.each do |user| %>
  	  	        <tr>
  	  	          <td><%= link_to user.nickname, admin_user_path(user), class: "btn-link" %></td>
                  <td><%= user.email %></td>
                  <td>
  	  	            <% if user.is_valid == true %>
                      有効
  	  	            <% elsif user.is_valid == false %>
  	  	      	      退会したユーザ
  	  	            <% end %>
                  </td>
  	  	        </tr>
  	  	      <% end %>
  	  	    </tbody>
  	      </table>
  	    </div>
      </div>
      <ul class = "pagination justify-content-center">
        <%= paginate(@users) %>
      </ul>
    </div>
  </div>
</div>
