// Place all the styles related to the user::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_user_icon {
	display: inline-block;
}

.review_user_nickname {
	display: inline-block;
}

.fixbtn {
	display: inline-block;
}
