<%# フッター 部分テンプレート %>
<footer>
  <nav class = "navbar navbar-expand navbar-dark bg-dark fixed-bottom justify-content-center">
    <span class = "navbar-text ">～すばらしいゲーム体験を共有しよう～</span>
  </nav>
</footer>
